# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Virtual environments
env/
venv/
.venv/
ENV/
.env/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

# Docker
*.env
docker-compose.override.yml
.dockerignore

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Testing / Coverage
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.mypy_cache/
.pyre/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Node (if any frontend)
node_modules/
npm-debug.log
yarn-error.log
